.idea
*.iws
*.iml
*.ipr
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
ENV/
allure-results/
allure-report/
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log
*.html
target/
.wdm/
target
.flattened-pom.xml
/local_run/external/*
/local_run/internal/*
